<% @end_users.each do |end_user| %>
<table>
<tr>
    <th>会員id</th>
    <th><%= end_user.id %></th>
</tr>
<tr>
    <th>氏名</th>
    <th><%= end_user.last_name %><%= end_user.first_name %></th>
</tr>
<tr>
    <th>メールアドレス</th>
    <th><%= end_user.email %></th>
</tr>
<tr>
    <th>ステータス</th>
    <th>
        <% if end_user.is_active == true %>
        有効
        <% else %>
        退会済み
        <% end %>
    </th>
</tr>
</table>
<br>
<% end %>