ECサイト
<h3>実装機能</h3>
<ul>
    <li>EndUserは会員登録、ログイン・ログアウト、退会ができます.</li>
    <li>EndUserのログインはメールアドレスとパスワードで行えます.</li>
    <li>EndUserがログインしている状態かどうか、ページのヘッダーにユーザ名を表示するなどして判断できます.</li>
    <li>商品をカートに入れ、1度に複数種類、複数商品の購入ができます。また、カート内の商品は個数変更・削除ができます.</li>
    <li>EndUserはマイページからユーザ情報の閲覧・編集、注文履歴の閲覧、配送先の閲覧・編集ができます.</li>
    <li>管理者用メールアドレスとパスワードでログインできます.</li>
    <li>商品の管理が行えます.</li>
    <li>ユーザの注文履歴が一覧できます.</li>
</ul>
<h3>ER図</h3>
image_tag("er.png")